
.file-upload-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}


.drop-zone {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  background-color: #f2f2f2;
}


.drop-zone:hover {
  border-color: #007bff; /* Change border color on hover */
}

.upload-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.file-details-container {
  display: flex;
  flex:2;
  flex-direction: row;
  padding: 20px; /* Added padding */
  border: 1px solid #ccc; /* Added border */
  border-radius: 5px; /* Rounded corners */
}
.file-list {
  flex: 1;
  margin-right: 20px;
}

.file-item {
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  transition: box-shadow 0.3s; /* Only transition box-shadow */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Default box-shadow */
}

.file-item:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Slightly raised on hover */
}

.selected {
  background-color: #007bff;
  color: white;
}
.file-preview-container {
  flex: 3;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.pagination {
  margin-top: 20px;
}

.pagination button {
  margin-right: 10px;
  background-color: #222;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;
}

.pagination button:hover {
  background-color: #444;
}

.custom-upload-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.custom-upload-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}
.image-container {
  margin-top: 20px;
  max-height: 300px; /* Adjust this height as needed */
  overflow: auto;
  border: 1px solid #ccc; /* Border style */
  border-radius: 5px; /* Border radius */
  padding: 10px; /* Padding around the image */
}

.image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.file-preview-details {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.file-preview-details div {
  margin-bottom: 10px;
  color: #333;
}

.file-preview-details strong {
  margin-right: 10px;
  color: #007bff;
}

.remove-button {
  color: #ff4d4f;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  margin-left: 10px;
}

.remove-button:hover {
  color: #d4380d;
}


.file-item-custom {
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.file-item-custom div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.pagination-button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

/* styles/global.css */
.header {
  background-color: #008080; /* Light gray background */
  padding: 10px 20px;
  color: #ffdab9; /* Darker text color */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Drop shadow for a subtle effect */
  text-align: center;
  border-radius: 0 0 10px 10px; 
}
.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
}
.logo {
  width: 50px; /* Adjust as needed */
  height: auto;
}
.content {
  padding: 20px;
}
body {
  margin: 0; /* Remove default margin */
  font-family: Arial, sans-serif; /* Optional: set a font family */
}